<p style="color: green"><%= notice %></p>

<%= render @g_cidade %>

<div>
  <%= link_to "Edit this g cidade", edit_g_cidade_path(@g_cidade) %> |
  <%= link_to "Back to g cidades", g_cidades_path %>

  <%= button_to "Destroy this g cidade", @g_cidade, method: :delete %>
</div>
