<%= simple_form_for(@c_tipo_pagamento) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-floating mb-3">
    <%= f.input :descricao %>
  </div>
      
  <div class="form-actions">
    <%= f.button :submit, class:"botao-criar" %>
  </div>
<% end %>
  