<p style="color: green"><%= notice %></p>


<%= render @c_tipo_pagamento %>
<%= link_to "Editar", edit_c_tipo_pagamento_path(@c_tipo_pagamento), class:"btn btn-info" %>
<%= link_to "Voltar", c_tipos_pagamentos_path, class:"btn btn-secondary" %>
<%= button_to "Deletar", @c_tipo_pagamento, method: :delete, class:"btn btn-danger" %> 
    