<div id="<%= dom_id c_pedido %>">
  <p>
    <strong>Data pedido:</strong>
    <%= c_pedido.data_pedido %>
  </p>

  <p>
    <strong>Entrega:</strong>
    <%= c_pedido.entrega %>
  </p>

  <p>
    <strong>C usuarios:</strong>
    <%= c_pedido.c_usuarios_id %>
  </p>

  <p>
    <strong>C produtos:</strong>
    <%= c_pedido.c_produtos_id %>
  </p>

  <p>
    <strong>C pagamentos:</strong>
    <%= c_pedido.c_pagamentos_id %>
  </p>

</div>
