<div id="<%= dom_id c_produto_promocao %>">
  <p>
    <strong>Nome:</strong>
    <%= c_produto_promocao.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= c_produto_promocao.descricao %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= c_produto_promocao.preco %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= c_produto_promocao.status %>
  </p>

  <p>
    <strong>Data promocao:</strong>
    <%= c_produto_promocao.data_promocao %>
  </p>

  <p>
    <strong>C produto:</strong>
    <%= c_produto_promocao.c_produto_id %>
  </p>

</div>
