<p style="color: green"><%= notice %></p>

<%= render @c_produto_promocao %>

<div>
  <%= link_to "Edit this c produto promocao", edit_c_produto_promocao_path(@c_produto_promocao) %> |
  <%= link_to "Back to c produto promocaos", c_produtos_promocoes_path %>

  <%= button_to "Destroy this c produto promocao", @c_produto_promocao, method: :delete %>
</div>
