<div id="<%= dom_id c_produto %>">
  <p>
    <strong>Nome:</strong>
    <%= c_produto.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= c_produto.descricao %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= c_produto.preco %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= c_produto.status %>
  </p>

</div>
