<div id="<%= dom_id c_usuario %>">
  <p>
    <strong>Cpf:</strong>
    <%= c_usuario.cpf %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= c_usuario.nome %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= c_usuario.telefone %>
  </p>

  <p>
    <strong>G endereco:</strong>
    <%= c_usuario.g_endereco_id %>
  </p>

</div>
