<script src="application"></script>
<body class="bg-gradient-danger">
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-600 mb-4">Bem vindo de volta!</h1>
                </div>
                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="text-center mb-4">
                      <% if flash[:alert] %>
                        <div class="alert alert-danger">
                          <%= flash[:alert] %>
                        </div>
                      <% end %>
                      <% if flash[:notice] %>
                        <div class="alert alert-success">
                          <%= flash[:notice] %>
                        </div>
                      <% end %>
                    </div>
                    <div class="form-inputs">
                      <div class="form-group">
                        <%= f.input :email,
                                    required: false,
                                    autofocus: true,
                                    label: false,
                                    input_html: {
                                      style: "border-radius: 50px; padding: 23px;",
                                      placeholder: "E-mail",
                                      value: params[:user].try(:[], :email)
                                    } %>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <%= f.input :password,
                                      required: false,
                                      label: false,
                                      wrapper_html: { class: "w-100" },
                                      input_html: {
                                        autocomplete: "current-password",
                                        placeholder: "Senha",
                                        style: "border-radius: 50px; padding: 25px; padding-right: 50px;",
                                        class: "form-control password-input"
                                      } %>
                          <div class="input-group-append">
                            <button type="button" class="btn btn-white toggle-password" style="border-radius: 50px; position: absolute; right: 15px; top: 40%; transform: translateY(-50%);">
                              <i class="bi bi-eye"></i>
                            </button>
                          </div>
                        </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                          <%= f.input :remember_me, 
                                      as: :boolean, 
                                      label: "Lembrar-me", 
                                      input_html: { class: "custom-control-input", id: "customCheck" }, 
                                      label_html: { class: "custom-control-label", for: "customCheck" } if devise_mapping.rememberable? %>
                        </div>
                      </div>
                    </div>
                      <%= f.button :submit, "Login", class:"btn btn-success w-100", style: "border-radius: 50px;" %>
                  <% end %>
                  <div class="text-center mt-3">
                    <%= render "devise/shared/links" %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>