<p style="color: green"><%= notice %></p>

<%= render @c_statu_pedido %>

<div>
  <%= link_to "Edit this c statu pedido", edit_c_statu_pedido_path(@c_statu_pedido) %> |
  <%= link_to "Back to c statu pedidos", c_status_pedidos_path %>

  <%= button_to "Destroy this c statu pedido", @c_statu_pedido, method: :delete %>
</div>
