
<%= simple_form_for(@g_endereco) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :cep %>
    <%= f.input :logadouro %>
    <%= f.input :numero %>
    <%= f.input :bairro %>
    <%= f.input :complemento %>
    <%= f.association :g_estado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
