<div id="<%= dom_id g_endereco %>">
  <p>
    <strong>Cep:</strong>
    <%= g_endereco.cep %>
  </p>

  <p>
    <strong>Logadouro:</strong>
    <%= g_endereco.logadouro %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= g_endereco.numero %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= g_endereco.bairro %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= g_endereco.complemento %>
  </p>

  <p>
    <strong>G estado:</strong>
    <%= g_endereco.g_estado_id %>
  </p>

</div>
