<p style="color: green"><%= notice %></p>

<% content_for :title, "G estados" %>

<h1 class="text-center text-secondary">Estados</h1>
<div class="card p-5">
  <div id="c_tipos_pagamentos">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Descrição</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody id="g_estados">
        <% @g_estados.each do |g_estado| %>
          <tr>
            <td><%= g_estado.nome %></td>
            <td>
              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-gear"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "Editar", edit_g_estado_path(g_estado), class: "dropdown-item link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %> 
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <button class="dropdown-item link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" 
                            onclick="confirmDelete('<%= g_estado.nome %>', '<%= g_estado_path(g_estado) %>')">
                      Deletar
                    </button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to "Adicionar Estado", new_g_estado_path, class: "botao-criar" %>
</div>
