<p style="color: green"><%= notice %></p>

<%= render @g_estado %>

<div>
  <%= link_to "Edit this g estado", edit_g_estado_path(@g_estado) %> |
  <%= link_to "Back to g estados", g_estados_path %>

  <%= button_to "Destroy this g estado", @g_estado, method: :delete %>
</div>
